<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674801262965-34qusq51gfqs6v1fbks97mdnd3q02hk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674801262965-34qusq51gfqs6v1fbks97mdnd3q02hk5</string>
	<key>API_KEY</key>
	<string>AIzaSyB394erPdMyCq5vXLw_YA3OzERhFzR4vZM</string>
	<key>GCM_SENDER_ID</key>
	<string>674801262965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BGNmobi.Pokemon</string>
	<key>PROJECT_ID</key>
	<string>pokemonproject-f7be3</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemonproject-f7be3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674801262965:ios:89b5e6a9568bfe8054333c</string>
</dict>
</plist>